.jumbotron {
    text-align: center;
    margin-bottom: 0px !important;
}

body {
    background-color: #232323 !important;
    margin : 0px;
}

.square {
   
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%; 
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;

}

#container {
    max-width: 400px;
    margin: 20px auto;
}

#stripe{
    background: white;
    height: 30px;
    text-align: center;
    color: black;
}

.selected {
    color: white;
    background: steelblue;
}

.jumbotron h2 {
    font-family: "Montserrat", "Avenir"; 
    text-transform: uppercase;

}
.jumbotron h5 {
    font-family: "Montserrat", "Avenir"; 
    text-transform: uppercase;
}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.3s;
    outline: none !important;
} 
button:hover {
      color: white;
      background: steelblue;
}
#message {
    display: inline-block; 
    width: 25%; 
}
